body {
    font-family: "Courier New", Monospace;
}


/* For desktop: */

.col-6 {
    width: 100%;
}

.col-12 {
    width: 100%;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}

[class*="col-"] {
    float: left;
    padding: 10px;
}

.col-3-text {
    float: right;
}

.col-3-pic {
    width: 80%;
    float: left;
}

h3 {
    padding: 15px;
}
