body {
    background-color: #cdfcfd;
}

#topImg {
    position: relative;
    -webkit-animation-name: example;
    -webkit-animation-duration: 4s;
    animation-name: example;
    animation-duration: 4s;
}

img {
    width: 75%;
    height: auto;
    float: left;
}

.text {
    font-size: 120%;
}


/* Standard syntax */

@keyframes example {
    0% {
        left: 0px;
        top: 0px;
    }
    25% {
        left: 100px;
        top: 0px;
    }
    50% {
        left: 250px;
        top: 0px;
    }
    75% {
        left: 450px;
        top: 0px;
    }
    100% {
        left: 0px;
        top: 0px;
    }
}

#intro {
    float: right;
}

#slogan1 {
    font-size: 30px;
    font-family: monospace;
    background: linear-gradient(#209696, #58AFE4);
    font-style: oblique;
    font-weight: bold;
    padding: 30px 30px;
    border-radius: 5px;
}

#slogan2 {
    font-size: 30px;
    font-family: monospace;
    background: linear-gradient(#A0F988, #E7F988);
    font-style: oblique;
    font-weight: bold;
    padding: 30px 30px;
    border-radius: 5px;
}

#profile {
    float: left;
}
