body {
  background-image: url("https://sinyungli.github.io/images/5120x2880-italian-sky-blue-solid-color-background.jpg");
 }
 
#topImg {
  position: relative;
  -webkit-animation-name: example;
  -webkit-animation-duration: 4s;
  animation-name: example;
  animation-duration: 4s;
}

img {
  width: 75%;
  height: auto;
  float: left;
}

.text {
   font-size: 120%;
}

/* Standard syntax */
@keyframes example {
  0%   {left:0px; top:0px;}
  25%  {left:100px; top:0px;}
  50%  {left:250px; top:0px;}
  75%  {left:450px; top:0px;}
  100% {left:0px; top:0px;}
}

#intro {
  float: right;
}

#slogan {
  font-size: 50px;
  font-family: monospace;
  background: linear-gradient(OldLace,LightPink);
  font-style: oblique;
  font-weight: bold;
  border-radius: 25px; 
}
